body{
    background-image: url("../img/background/Elegant_Background-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 5rem;
}

/*div{*/
    /*border: 1px solid black;*/
/*}*/

.header{
    font-size:6rem;
}

/*.disable-hover{*/
    /*background-color: transparent;*/
/*}*/

.p-t-1{
    padding-top: 1rem;
}

.p-t-2{
    padding-top: 2rem;
}

.p-t-3{
    padding-top: 3rem;
}

.p-t-4{
    padding-top: 4rem;
}

.p-t-5{
    padding-top: 5rem;
}

/* Green check icon */
#check_green {
    color: #5fba7d;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.3em;
}

/* No hover effect on fb element */
.no-hover-facebook a:hover {
    background-color: #3b5998;
    border-color:transparent;
    color:#fff;
    cursor: default;
}

/* No hover effect on instagram */
.no-hover-instagram a:hover {
    background-color: #3f729b;
    border-color:transparent;
    color:#fff;
    cursor: default;
}

/* No hover effect on linkedIn */
.no-hover-linkedin a:hover {
    background-color: #007bb6;
    border-color:transparent;
    color:#fff;
    cursor: default;
}


.btn-color-w:hover {
    color:#fff;
}




