{% extends "layout.html" %}

{% block title %}Connect your profiles{% endblock %}

{%block content%}
    {%if user.is_authenticated%}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="text-center">
                    <h1>Hi there {{facebook.first_name }} {{facebook.last_name}}</h1>
                    <p class="lead">
                        Connect your desired social media profiles below:
                    </p>
                </div>
            </div>

        </div>
    {%endif%}
{%endblock%}