{% extends "layout.html" %}
{% load dashboard_tags %}

{% block title %}Facebook{% endblock %}

{%block content%}
    <div class="row">
        <div class="text-center">
            <h1 class="header">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                profile
            </h1>
        </div>
    </div>
    <div class="row p-t-4">
        <div class="col-md-5 col-md-offset-1">
            <div class="profile-well well well-md">
                <div class="row">
                    <div class="text-center">

                        <h2><i class="fa fa-user" aria-hidden="true"></i> public profile</h2>

                    </div>
                </div>
                <div class="row p-t-1">
                    <div class="col-xs-6 col-md-3">
                        <img src="{{ facebook.profile_picture_url|default:"http://placehold.it/168x168" }}" alt="'profile-picture'" class="img-rounded profile-img">
                    </div>
                    <div class="col-xs-2 col-xs-offset-1 col-md-5 text-center">
                        <h4>{{facebook.first_name}} {{ facebook.last_name }}</h4>
                    </div>
                </div>
                <div class="row p-t-1">
                    <div class="col-xs-12 col-md-12">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>
                            <strong>Email:</strong> {{ item.facebook_email }}
                        </p>
                        <p><i class="fa fa-users" aria-hidden="true"></i>
                            <strong>Friends:</strong> {{ item.friends_count }}
                        </p>
                        <p><i class="fa fa-venus-mars" aria-hidden="true"></i>
                            <strong>Gender:</strong> {{ item.gender }}
                        </p>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>
                            <strong>Age range:</strong> + {{ item.age_range }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="profile-well well well-md">
                <h2>public profile 2</h2>
            </div>
        </div>
    </div>
{% endblock %}