{% extends "layout.html" %}

{% block title %}Social Me{% endblock %}

{% block css %}
    <!-- Leaflet stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
{% endblock %}


{%block content%}
    <div class="row">
        <div class="text-center">
            <h1 class="header">
                <i class="fa fa-user" aria-hidden="true"></i>
                Your social identity
            </h1>
        </div>
    </div>

    <!-- first level rows -->
    <div class="row p-t-4">
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 passport passport-height well well-md">
            <div class="row">
                <div class="col-md-4 col-xs-12 p-t-2">
                    <div class="text-center p-b-1 ">
                        <strong>
                        Digitalt Pas<br>
                        Digital Passport<br>
                        Passeport Digitale
                            </strong>
                    </div>
                    <img src="https://avatars2.githubusercontent.com/u/7037813?v=3&s=400" alt="profile-picture" class="center-block img-rounded passport-img">
                    <div class="text-center">
                        <p>
                            Passport number.:<br>
                            <span><strong>202020359</strong></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 col-xs-12 p-t-5">
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Last Name:<br>
                                <span class="lead"><strong>Dawartz</strong></span>
                            </p>
                        </div>
                        <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                           <p>
                                First Name:<br>
                                <span class="lead"><strong>Niels Christian</strong></span>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Nationality:<br>
                                <span class="lead"><strong>Danish</strong></span>
                            </p>
                        </div>
                        <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                            <p>
                                Gender/Sex:<br>
                                 <span class="lead"><strong>M</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Date of birth:<br>
                                <span class="lead"><strong>21 08 90</strong></span>
                            </p>

                        </div>
                        <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                            <p>
                                Current city.:<br>
                                <span class="lead"><strong>Copenhagen</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Date of issue:<br>
                                <span class="lead"><strong>12 12 2016</strong></span>
                            </p>
                        </div>
                        <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                            <p>
                                Date of expiry:<br>
                                <span class="lead"><strong>?</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Civil status:<br>
                                <span class="lead"><strong>Married</strong></span>
                            </p>
                        </div>
                        <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                            <p>
                                Current device:
                                <span class="lead"><strong>iPhone</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 passport-text col-xs-6">
                            <p>
                                Email:<br>
                                <span class="lead"><strong>nielsdaw@gmail.com</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- second rows -->
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h3>
                    Your education and work experience
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-well well well-md">
                        <div class="row ">
                            <div class="col-md-6">
                               <p>
                                   <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                   You are currently studying in University of Copenhagen
                                </p>
                               <p class="p-t-2">
                                   <i class="fa fa-industry" aria-hidden="true"></i>
                                   You have interests within computering and infomation technologies
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="over">
                                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRL19Gz7JK9QCEZu0AZqxsGXqHqwY8lo70sr2HmjBZAa_ov5Zdi4x3pTTvm" alt="profile-picture" class="img-rounded img-responsive">
                                </div>
                            </div>
                        </div>

                       <div class="row p-t-1" >
                            <div class="col-md-6">
                               <p>
                                   <i class="fa fa-certificate" aria-hidden="true"></i>
                                   You have skills within python, html, css, javascript and more
                                </p>
                               <p class="p-t-2">
                                   <i class="fa fa-suitcase" aria-hidden="true"></i>
                                   You would like to work at, Google, facebook, Twitter and more
                                </p>

                            </div>
                            <div class="col-md-6">
                                <div class="over">
                                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQMcEwiTB6V1ygTZQn0WYbpb9CdekFwjehDcaeVA7veSLBzmM-FurbbWQ" alt="profile-picture" class="img-rounded img-responsive">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h3>
                    Some of your preferences
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-well well well-md">
                      <div class="row ">
                        <div class="col-md-6">
                            <div class="over">
                                <img src="https://upload.wikimedia.org/wikipedia/en/3/3b/Dark_Side_of_the_Moon.png" alt="profile-picture" class="img-rounded img-responsive">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <i class="fa fa-headphones" aria-hidden="true"></i>
                                You like listening to rock & roll, jazz, r&b
                            </p>
                            <p class="p-t-2">
                               <i class="fa fa-music" aria-hidden="true"></i>
                               Some of your favorite artists are Pink Floyd, Kanye West, and more.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- third level rows - Leaflet map -->
    <div class="row">
        <div class="col-md-12">
            <div id="mapid"></div>
        </div>







     </div>

    <div class="row p-t-4 p-b-3">
        <div class="text-center">
            <p class="lead">
                <small>Do you wish to include more profiles?</small>
            </p>
            <div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5">
                <a href="{% url 'home' %}" class="btn btn-block btn-sm btn-primary btn-more-info">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Connect more profiles
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- Leaflet javascript -->
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}