{% extends "layout.html" %}

{% block title %}Social Me{% endblock %}

{% block css %}
    <!-- Leaflet stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
{% endblock %}


{%block content%}

    <div class="row">
        <div class="text-center">
            <h1 class="header">
                Your Social Me
            </h1>
        </div>
    </div>

        <!-- first level rows -->
        <div class="row p-t-4">
            <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 passport passport-height well well-md">
                <div class="row">
                    <div class="col-md-4 col-xs-12 p-t-2">
                        <div class="text-center p-b-1 ">
                            <strong>
                                Digitalt Pas<br>
                                Digital Passport<br>
                                Passeport Digitale
                            </strong>
                        </div>
                        <img src="{{ social.facebook.profile_picture_url }}" alt="profile-picture" class="center-block img-rounded passport-img">
                        <div class="text-center">
                            <p>
                                Passport number.:<br>
                                <span><strong>202020359</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 col-xs-12 p-t-5">
                        <div class="row">
                            <div class="col-md-5 passport-text col-xs-6">
                                <p>
                                    Last Name:<br>
                                    <span class="lead"><strong>{{ social.facebook.last_name }}</strong></span>
                                </p>
                            </div>
                            <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                               <p>
                                    First Name:<br>
                                    <span class="lead"><strong>{{social.facebook.first_name}}</strong></span>
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 passport-text col-xs-6">
                                <p>
                                    Nationality:<br>
                                    <span class="lead" id="elem_city"><strong>Danish</strong></span>
                                </p>
                            </div>
                            <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                                <p>
                                    Gender/Sex:<br>
                                     <span class="lead"><strong>{{ social.facebook.gender }}</strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 passport-text col-xs-6">
                                <p>
                                    Date of birth:<br>
                                    <span class="lead"><strong>21 08 90</strong></span>
                                </p>

                            </div>
                            <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                                <p>
                                    Current city.:<br>
                                    <span class="lead"><strong>Madrid</strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 passport-text col-xs-6">
                                <p>
                                    Date of issue:<br>
                                    <span class="lead"><strong>{{ date }}</strong></span>
                                </p>
                            </div>
                            <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                                <p>
                                    Date of expiry:<br>
                                    <span class="lead"><strong>Nov 12 3017</strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 passport-text col-xs-6">
                                <p>
                                    Civil status:<br>
                                    <span class="lead"><strong>Married</strong></span>
                                </p>
                            </div>
                            <div class="col-md-offset-2 col-md-5 passport-text col-xs-6">
                                <p>
                                    Current devices:
                                    <span class="lead"><strong>{{ social.facebook.devices }}</strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 passport-text col-xs-6">
                                <p>
                                    Email:<br>
                                    <span class="lead"><strong>{{ social.facebook.facebook_email }}</strong></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- second rows -->
    <div class="row p-t-5">
        <div class="col-md-6">
            <div class="text-center">
                <h3>
                    Your education and work experience
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-well well well-md">
                        <div class="row ">
                            <div class="col-md-7 col-xs-7">
                               <p>
                                   <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                   You are studying in IT University of Copenhagen
                                </p>
                               <p class="p-t-1">
                                   <i class="fa fa-industry" aria-hidden="true"></i>
                                   You have interests within computering and infomation technologies
                                </p>
                               <p class="p-t-1">
                                   <i class="fa fa-certificate" aria-hidden="true"></i>
                                   You have skills within HTML, CSS, Javascript, Python and more
                                </p>
                               <p class="p-t-1">
                                   <i class="fa fa-suitcase" aria-hidden="true"></i>
                                   You would like to work at Facebook
                                </p>
                            </div>
                            <div class="col-xs-5 col-md-5 img-four pull-right p-b-2">
                                <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-right img-rounded img-responsive">
                                <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-right img-rounded img-responsive">
                                <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-right img-rounded img-responsive">
                                <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-right img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="text-center">
                <h3>
                    Some of your preferences
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-well well well-md">
                        <div class="row ">
                            <div class="col-md-5 col-xs-5 img-four pull-left p-b-2">

                                {% if social.spotify %}
                                    <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-left img-rounded img-responsive">
                                    <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-left img-rounded img-responsive">
                                {% endif %}

                                {% if social.facebook %}
                                    <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-left img-rounded img-responsive">
                                    <img src="http://placehold.it/100x100" alt="profile-picture" class="pull-left img-rounded img-responsive">
                                {% endif %}
                            </div>

                            <div class="col-md-7 ">
                                {% if social.spotify %}
                                    <p>
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                        You like listening to rock & roll, jazz, r&b
                                    </p>
                                    <p class="p-t-1">
                                        <i class="fa fa-music" aria-hidden="true"></i>
                                        Some of your favorite artists are Pink Floyd, Kanye West, and more.
                                    </p>
                                {% endif %}

                                {% if social.spotify %}
                                    <p class="p-t-1">
                                        <i class="fa fa-glass" aria-hidden="true"></i>
                                        You like going out in some of these places:
                                        Demode, La bicicleta, Mondo and more
                                    </p>
                                    <p class="p-t-1">
                                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                                        Some of your favorite cafes and restaurants are:
                                        La bicicleta, La pescata
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- third level rows - Leaflet map -->
    <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="text-center">
                    <h3>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        Places you've been (or would like to go)
                    </h3>
                    <p>
                        Based on your likes and tags
                    </p>
                </div>
                <div id="mapid"></div>
            </div>
     </div>


    <!-- Last level - suggestion of more connections -->
    {% if request.session.social_media|length < 3 %}
        <div class="row p-t-4 p-b-3">
            <div class="col-md-4 col-xs-6 col-xs-offset-3 col-md-offset-4 well profile-well">
                <div class="text-center">
                    <p class="lead">
                        <small>Do you wish to include more social network profiles?</small>
                    </p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    <a href="{% url 'connect' %}" class="btn btn-block btn-sm btn-primary btn-more-info">
                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                        Connect more profiles
                    </a>
                </div>
            </div>
        </div>
    {% endif %}




{% endblock %}

{% block javascript %}
    <!-- Leaflet javascript -->
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{% static 'js/social-me.js' %}"></script>
{% endblock %}