{% extends "layout.html" %}
{% load static %}

{% block title %}Connect your profiles{% endblock %}
{% block css %}
    <!-- Bootstrap tour -->
    <link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
{% endblock %}

{%block content%}
    {%if user.is_authenticated%}
     <div class="row">
         <div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="text-center">
                        <h1>Hi there {{request.session.social_media.facebook.first_name }}</h1>
                        <p class="lead">
                            Connect your desired social media profiles below:
                        </p>
                    </div>
                </div>
            </div>

            <!-- Facebook -->
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4">
                    <div class="no-hover-facebook">
                        <a class="btn btn-block btn-social btn-md btn-facebook">
                            <span class="fa fa-facebook"></span>
                            Successfuly Connected
                            <i class="fa fa-check-square" id="check_green" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Instagram -->
            <div class="row p-t-1">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4" id="connect-profiles">
                    {% if request.session.social_media.instagram %}
                        <div class="no-hover-instagram">
                            <a class="btn btn-block btn-social btn-md btn-instagram">
                                <span class="fa fa-instagram"></span>
                                Successfuly Connected
                                <i class="fa fa-check-square" id="check_green" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% else %}
                           <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-block btn-social btn-md btn-instagram">
                                <span class="fa fa-instagram"></span>
                                Connect Instagram
                            </a>
                    {% endif %}
                </div>
            </div>

            <!-- LinkedIN -->
            <div class="row p-t-1">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4">
                    {% if request.session.social_media.linkedin %}
                        <div class="no-hover-linkedin">
                            <a class="btn btn-block btn-social btn-md btn-linkedin">
                                <span class="fa fa-linkedin"></span>
                                Successfuly Connected
                                <i class="fa fa-check-square" id="check_green" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% else %}
                    <a href="{% url 'social:begin' 'linkedin' %}" class="btn btn-block btn-social btn-md btn-linkedin">
                        <span class="fa fa-linkedin"></span>
                        Connect LinkedIn
                    </a>
                    {% endif %}
                </div>
            </div>

            <!-- Spotify -->
            <div class="row p-t-1">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4">
                    {% if request.session.social_media.spotify %}
                        <div class="no-hover-spotify">
                            <a class="btn btn-block btn-social btn-md spotify-button btn">
                                <span class="fa fa-spotify"></span>
                                Successfuly Connected
                                <i class="fa fa-check-square" id="check_white" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% else %}
                    <a href="{% url 'social:begin' 'spotify' %}" class="btn btn-block btn-social btn-md btn-linkedin spotify-button">
                        <span class="fa fa-spotify"></span>
                        Connect Spotify
                    </a>
                    {% endif %}
                </div>
            </div>

            <!-- Social Me Buton -->
            <div class="row p-t-5">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4" id="social-me">
                    <a href="{% url 'dashboard:social_me' %}" class="btn btn-block btn-lg btn-primary btn-more-info">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        Go to Social Me
                    </a>
                </div>
            </div>

            <!-- Dashboard button -->
            <div class="row p-t-1">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-lg-offset-4" id="dashboard">
                    <a href="{% url 'dashboard:main' %}" class="btn btn-block btn-lg btn-primary btn-more-info" >
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Go to dashboard of profiles
                    </a>
                </div>
            </div>
        </div>
    </div>
    {%endif%}

    {% block javascript %}
        <!-- Social me Tour js -->
        <script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
        <script src="{% static 'js/walk-through.js' %}"></script>
    {% endblock %}
{%endblock%}