{% extends "layout.html" %}

{% block title %}Logged in{% endblock %}

{%block content%}
    {%if user.is_authenticated%}
        <h1>Welcome there {{facebook.first_name }} {{facebook.last_name}}</h1>
        <p>
            Your email: {{ user.email }}
        </p>
        <p>user id: {{ user.id }}</p>
        <p><b>Facebook</b></p>
        <img src="{{ facebook.profile_picture_url }}" style=""class="img-account">
        <p>facebook id: {{ facebook.fb_id }}</p>
        <p>Your facebook email: {{ facebook.email }}</p>
        <hr>

        <b>Instagram</b>
        <img src="{{ instagram.profile_picture_url }}" style=""class="img-account">
        <hr>
        <p>instagram id: {{ instagram.i_id }}</p>
        <p>instagram email: {{ instagram.i_email }}</p>
        <hr>
        <p><b>LinkedIn</b></p>
        <p>
            linkedin industry: {{ linkedin.l_industry }}
        </p>
    {%else%}
        <p id="p-large"a>You must be logged in to view this page</p>
    {%endif%}
        <hr>
        <a href="{% url 'social:begin' 'instagram' %}">connect instagram</a>
        <hr>
        <a href="{% url 'social:begin' 'linkedin' %}">connect linkedin</a>
        <hr>
        <br><a href="{% url 'login' %}">Back to frontpage</a>
{%endblock%}