{% extends "layout.html" %}

{% block title %}I Am Who?{% endblock %}

{%block content%}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-offset-3 ">
            <div class="text-center">
                <h1 class="header">Welcome</h1>
                <p class="p-t-2 lead"><b>What?</b><br>The purpose of this site is to provide a service, where you can view and manage
                    your many different social media accounts in <u>one place</u>
                </p>
                <p class="lead">
                    <b>How?</b><br>Choose your social media accounts you wan't to connect to the service. The service
                    will then retrieve your information from the chosen social media(s).<br>
                    <u>None</u> of the information is stored and it's only you who has access to the information!<br> <a href="">Read more about privacy policy here</a>
                </p>
                <p class="lead">In order to use the service login with facebook</p>
                <div class="col-md-6 col-lg-offset-3">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-md btn-facebook">
                      <span class="fa fa-facebook"></span>
                      Login in with Facebook
                    </a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}